.allRecipes {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 0 5px gray;
    position: relative;
}

.allRecipes h4 {
  color: var(--base-red);
  margin-bottom: 0.5rem;
  position: relative;
  font-size: 1.2rem;
}

.allRecipes p {
  line-height: 130%;
  text-align: left;
}

.allRecipes img {
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}

.desc {
  margin: 10px;
}

.make {
  margin-top: 1rem;
}