h3 {
  color: var(--base-red);
  font-family: "Lobster";
  src: url("./fonts/Lobster.otf");
  font-size: 40px;
  text-align: center;
  padding: 20px 0 40px;
}

h2 {
  color: var(--base-red);
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: -20px;
}

p {
  color: var(--base-red);
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
}
